header
  min-height: 400px
  height: 70%
  background-image: url(/images/header.jpg)
  background-position: center center
  background-size: cover
  text-align: center

  h1
    color: black
    font-family: 'Saira', sans-serif
    font-weight: 600
    border: 7px solid black
    font-size: 46px
    line-height: 54px
    background-color: rgba(245, 245, 245, 0.4)
    border-radius: 1px
    -webkit-font-smoothing: antialiased
    display: inline-block
    padding: 0px 10px
    margin: 80px auto 0