<!DOCTYPE html>
<html>
  <head>
    {{ partial "header.html" . }}

    <script src="https://chinchilla.68keys.io/script.js" data-site="FTHNCMZD" defer></script>
    <script src="https://track.heft.io/script.js" data-site="KAI6BFXQVJ" defer></script>
  </head>

  <body>
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}

    {{ partial "footer.html" . }}
    {{ partial "license.html" . }}
    {{ partial "privacy.html" . }}
    {{ partial "navigation.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
