`<div id="cookie-banner" class="do-hide do-remove">
  <form id="cookie-banner-form">
    <div id="cookie-banner-inner">
      Ah, snap! This website uses cookies. But don't be afraid! Only for technical reasons and to have some basic analytics. If you do not like this or just have a bad day, you can disable cookies in your browser, see the <a href="/cookies/settings">Cookies Settings</a>, or just don't visit this site again. Please don't leave me!
      <button typ="submit">No problem dude, I like cookies !!</button>
    </div>
  </form>
</div>