<div id="cookies">
  <div class="wrapper">
    <p>This website uses cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a></p>
    <button id="cookies-hide">Got it!</button>
  </div>
</div>

<script>
  function cookieHandler() {
    document.querySelector('#cookies').className = ''

    var d = new Date();
    d.setTime(d.getTime() + (120*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = "HideCookieNotice=true;" + expires + ";path=/";
  }

  if (!document.cookie.match(/^(.*;)?\s*HideCookieNotice\s*=\s*[^;]+(.*)?$/)) {
    document.querySelector('#cookies').className = 'show'

    var button = document.querySelector('#cookies-hide')
    
    button.addEventListener('click', cookieHandler)
    button.addEventListener('touchend', cookieHandler)
  }
</script>