<div class="cookie-info">
  <div class="wrapper">
    <p>This website uses <a href="/legal/#about-cookies">cookies</a> to ensure you get the best experience!</p>
    <button>Got it!</button>
  </div>
</div>

<script>
  function cookieHandler() {
    document.querySelector('.cookie-info').className = 'cookie-info'

    var d = new Date();
    d.setTime(d.getTime() + (120*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = "HideCookieNotice=true;" + expires + ";path=/";
  }

  if (!document.cookie.match(/^(.*;)?\s*HideCookieNotice\s*=\s*[^;]+(.*)?$/)) {
    document.querySelector('.cookie-info').className = 'cookie-info show'

    var button = document.querySelector('.cookie-info button')
    
    button.addEventListener('click', cookieHandler)
    button.addEventListener('touchend', cookieHandler)
  }
</script>