<meta charset="UTF-8">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ .Site.Title }}</title>

<meta name="description" content="{{ .Description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=1">
<meta name="author" content="sbstjn">

<link href="/styles/main.css" media="all" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Saira:600|Raleway:300,400,500,600|Fira+Mono" rel="stylesheet">

<link rel="canonical" href="https://68Keys.io/">

<meta property="og:locale" content="en_US">
<meta property="og:url" content="https://68Keys.io/">
<meta property="og:site_name" content="68Keys.io">
<meta property="og:title" content="Custom 68% Mechanical Keyboard">
<meta property="og:image" content="https://68Keys.io/images/header.jpg">
<meta property="og:description" content="{{ .Description }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@68Keys">
<meta name="twitter:creator" content="@sbstjn">

<script type="application/ld+json">
  {"name":"68Keys.io","description":"{{ .Description }}","author":{"@type":"Person","name":"sbstjn"},"@type":"WebSite","url":"https://68Keys.io/","image":"https://68Keys.io/images/header.jpg","publisher":null,"headline":"Custom 68% Mechanical Keyboard","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}
</script>
