<meta charset="UTF-8">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ .Title }} - {{ .Site.Title }}</title>

<meta name="description" content="{{ .Description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=1">
<meta name="author" content="sbstjn">

<link href="/styles/main.css" media="all" rel="stylesheet" />

<link rel="canonical" href="{{ .URL | absLangURL }}">

<meta property="og:locale" content="en_US">
<meta property="og:url" content="{{ .URL | absLangURL }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:image" content="{{ .Params.image | absURL }}">
<meta property="og:description" content="{{ .Description }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@68Keys">
<meta name="twitter:creator" content="@sbstjn">

<meta name="google-site-verification" content="TSqEPNp4HpnOMUl7OFX2ulS8Dy0wjeBX8JTReBhaDs0" />

<script type="application/ld+json">
  {"name":"68Keys.io","description":"{{ .Description }}","author":{"@type":"Person","name":"sbstjn"},"@type":"WebSite","url":"https://68Keys.io/","image":"https://68Keys.io/images/header.jpg","publisher":null,"headline":"Custom 68% Mechanical Keyboard","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira:600|Raleway:300,400,500,600|Fira+Mono:400,500,700|Montserrat:500">

<script type="text/javascript">
  /** domready **/
  !function(e,t){typeof module!="undefined"?module.exports=t():typeof define=="function"&&typeof define.amd=="object"?define(t):this[e]=t()}("domready",function(){var e=[],t,n=document,r=n.documentElement.doScroll,i="DOMContentLoaded",s=(r?/^loaded|^c/:/^loaded|^i|^c/).test(n.readyState);return s||n.addEventListener(i,t=function(){n.removeEventListener(i,t),s=1;while(t=e.shift())t()}),function(t){s?setTimeout(t,0):e.push(t)}})
</script>

{{ partial "cookies.html" . }}