<div id="bar">
  <div class="wrapper">
    <a id="name" href="https://68keys.io">68 Keys</a>

    <a href="https://twitter.com/68Keys" class="bar-twitter">
      <i class="icon-icon icon-twitter"></i>
    </a>
    
    <label for="menu-toggle">
      <i class="icon-icon icon-menu"></i>
    </label>
    <input type="checkbox" id="menu-toggle" />
    <div id="bar-menu">
      <ul>
        <li><a href="/"><div class="inner"><i class="icon-icon icon-home"></i>Home</div></a></li>
        <li><a href="/parts/"><div class="inner"><i class="icon-icon icon-cart-speed"></i>Shopping List</div></a></li>
        <li><a href="/guide/case/"><div class="inner"><i class="icon-icon icon-keyboard"></i>Aluminium Case</div></a></li>
        <li><a href="/guide/board/"><div class="inner"><i class="icon-icon icon-board"></i>Circuit Board</div></a></li>
        <li><a href="/guide/firmware/"><div class="inner"><i class="icon-icon icon-cable"></i>TMK Firmware</div></a></li>
      </ul>
      <div id="bar-footer" class="inner">
        <small>
          Created by <a href="https://sbstjn.com">sbstjn</a>.
          Published on <a href="https://github.com/sbstjn/68keys.io">GitHub</a>
          using <a href="https://github.com/sbstjn/68Keys.io/blob/master/LICENSE.md">BY-NC-SA Creative Commons</a>.
        </small>
      </div>
    </div>
  </div>
</div>